[submodule "modules/community"]
	path = modules/community
	url = git@github.com:oss-compass/community.git
	branch = main
[submodule "modules/docs"]
	path = modules/docs
	url = git@github.com:oss-compass/docs.git
	branch = main
[submodule "localization_repos/docs-zh"]
	path = localization_repos/docs-zh
	url = git@github.com:oss-compass/docs-zh.git
	branch = main
[submodule "localization_repos/community-zh"]
	path = localization_repos/community-zh
	url = https://github.com/oss-compass/community.git
	branch = i18n_zh
