[submodule "modules/community"]
	path = modules/community
	url = git@github.com:oss-compass/community.git
	branch = main
[submodule "modules/docs"]
	path = modules/docs
	url = git@github.com:oss-compass/docs.git
	branch = main
[submodule "modules_i18n/docs-zh"]
	path = modules_i18n/docs-zh
	url = git@github.com:oss-compass/docs-zh.git
	branch = main
[submodule "modules_i18n/community-zh"]
	path = modules_i18n/community-zh
	url = git@github.com:oss-compass/community-zh.git
	branch = main
