[submodule "modules/community"]
	path = modules/community
	url = https://github.com/oss-compass/community.git
	branch = main
[submodule "modules/docs"]
	path = modules/docs
	url = https://github.com/oss-compass/docs.git
	branch = main
